.MainContainer{
    height : 100vh;
    z-index: 1;
    flex-grow : 1;
    background :rgba(34, 34, 34, 0.6);
    backdrop-filter : blur(10px);
}
.Banner{
    height : 300px;
    position: relative;;
}

.Banner .BannerImg{
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    object-fit : cover;
    
}


.Banner .bottomLayer{
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    height : 5rem;
    background-image : linear-gradient(transparent,rgba(0,0,0,0.1));
}

.Banner .content{
    position : absolute;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    padding : 20px 30px;
    display : flex;
    flex-direction: column;
    z-index : 3;
}

.Banner .content .breadCrump{
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.Banner .content .breadCrump i{
    color : #f1f1f1;
    font-size: 18px;
    cursor : pointer;
}

.Banner .content .breadCrump p{
    color : #848484;
    font-size : 14px;
    font-weight : 600;
    letter-spacing: 1px;
}

.Banner .content .breadCrump p span{
    color : #f1f1f1;

}

.Banner .content .artist{
    margin-top : auto;
    color : #f1f1f1;
    display : flex;
    align-items: center;
    justify-content: space-between;
}

.Banner .content .artist .left .name{
    display : flex;
    align-items: center;
}

.Banner .content .artist .left .name h2{
    font-size: 50px;
}

.Banner .content .artist .left .name img{
    width : 30px;
    margin-left : 10px;
}

.Banner .content .artist .left p{
    font-size: 14px;
    color : #f1f1f1;
    display : flex;
    align-items: space-between;
    justify-content: space-between;
    margin-left : 15px;
}
.Banner .content .artist .left span{
    margin-left : 15px;
}

.Banner .content .artist .right{
    display : flex;
    align-items : center;
}

.Banner .content .artist .right a{
    text-decoration: none;
    display : flex;
    align-items: center;
    padding : 10px 30px;
    font-size : 16px;
    color : #f1f1f1;
    margin : 0px 15px;
    border-radius: 100vh;
    font-weight: bold;
    text-align : center;
    background : #555;
}

.Banner .content .artist .right a i{
    margin-right: 10px;
    font-size : 12px;
    
    
}

.Banner .content .artist .right a:nth-child(1){
    background : #39aa24;
}

.Banner .content .artist .right a:nth-child(2){
    background : rgba(0,0,0,0.3);
    margin-right: 0;
    border : 1px solid rgba(255,255,255,0.1);
}

.Banner .content .artist .right a:hover{
    box-shadow : 0px 0px 20px rgba(0,0,0,0.4);
}

.MainContainer .menuList{
    display : flex;
    align-items : center;
    justify-content : space-between;
    padding : 15px 25px;
    background : #2c2c2c;
}

.menuList ul{
    display : flex;
    align-items: center;
    list-style: none;
}

.menuList ul li{
    margin : 0 20px;
    font-size : 14px;
    position : relative;
}

.menuList ul li a{
    text-decoration : none;
    color : #848484;
    font-size : 14px;
    font-weight: bold;
}

.menuList p{
    color : #f1f1f1;
}

.menuList ul li::before{
    position : absolute;
    content : "";
    bottom : -20px;
    left : 10px;
    width : 0px;
    height : 10px;
    border-radius : 5px;
    background : #f1f1f1;
}

.menuList ul li:hover::before,
.menuList ul li.active::before{
    width : 20px;
    
}

/* Main Audio List Styles */

.audioList{
    padding : 10px 30px;
}

.audioList .title{
    font-size : 18px;
    color : #f1f1f1;
}

.audioList .title span{
    font-size : 12px;
    color : #848484;
}

.audioList .songsContainer{
    height : 220px;
    overflow-y: scroll;
    overflow-x: hidden;
    
     
}

.songs{
    font-size : 14px;
    display : flex;
    color : gray;
    align-items: center;
    font-weight : 600;
    width : 100%;
    margin : 10px 0;
    padding : 5px;
}

.songs:hover,
.songs.active{
    color : #f1f1f1;
}

.count{
    margin-right : 10px;
}

.song{
    display : flex;
    align-items : center;
    width : 100%;
    border-bottom : 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
}

.song .imgBox{
    width : 45px;
    height : 45px;
    min-width : 45px;
    background : #555;
    margin-right : 15px;
    overflow: hidden;
}

.song .imgBox img{
    width : 100%;
    height : 100%;
    object-fit : cover;
}

.song .section{
    display : flex;
    width : 100%;
    justify-content : space-between;
    align-items : center;
}


.song .section .songName{
   display : flex;
   width : 50%;
   justify-content: space-between;
   
}

.song .section .hits{
    display : flex;
    justify-content: space-between;
    align-items : center;
}

.song .section .hits p{
    margin-right : 15px;
}

.song .section .hits .hit i{
    font-size : 12px;
    margin-right : 5px;
}

.song .section .hits .duration{
    margin-right : 15px;
}

.song .scetion .hits .favourite i{
    color : #49e12e;
}







